html {
  font-size: 18px;
  scrollbar-gutter: stable both-edges;
}

body {
  min-height: 100vh;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  padding: 30px;
  margin: 0;
  font-size: 2rem;
}

.accordion {
  cursor: pointer;
  width: 100%;
}

.accordion-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.icon-open {
  opacity: 0;
  transition: opacity 0.3s;
}

.accordion:hover .icon-open {
  opacity: 1;
}

.accordion-radio:checked ~ .accordion-title > .icon-open {
  transform: rotate(45deg);
}
.accordion-label {
    cursor: pointer;
    transition: opacity 0.3s;
}
.accordion-label:active {
    opacity: 0.5;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid grey;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.accordion-radio:hover ~ .accordion-title > .icon-open {
  transform: rotate(45deg);
}

.accordion-img {
    display: block;
    margin: 0 auto;
    width: 0;
    transition: width 0.4s;
}

.accordion-radio:checked ~  .accordion-img {
    width: 50%;
}

.accordion-radio:hover ~  .accordion-img {
     width: 50%; 
}